*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width:100%;
}
@font-face {
    font-family: 'appe';
    src: url('./sf-pro-text_semibold.woff2') format('woff2');
         
    font-weight: normal;
    font-style: normal;
}
#main{
    height: 100vh;
    width:100%;
    position: top 0;
    background-color: black; 
    justify-content: center; 
   
}
#hero_image{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-image: url('./hero.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav{
    height: 35px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    font-size: 10px;
    font-weight: 1;
    font-family: 'appe';
    gap: 30px;
    justify-content: center;
}
#nav h2{
    padding-top: 7px;
}
#hero_image button{
    margin-top:500px;
    position: absolute;
    font-size: 20px;
    font-family: 'appe';
    height: 50px;
    width:80px;
    background-color: #0078D4;
    color: white;
    border: none;
    border-radius: 30px;
    ;    
}
#hero_image h2{
    margin-top: 600px;
    font-size: 20px;
    font-family: 'appe';
    color: white;
    justify-content:center ;
}
#main2{
    height: 160%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top:150px ;
    padding-left:80px;
    font-family: 'appe';
    background-color: #1D1D1F;
    
}
#main2 h1{
    font-size: 60px;
    color: white;
    font-family:'appe' ;     
}
#main2-1{
    height: 60%;
    width: 75%;
    margin-top: 60px;
    background-color: black;
     align-self: center;
   border-radius: 50px;
   padding-bottom:100px;
   background-image: url('./3_phones.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   
   
}
#main2-1 h1{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
    font-family: 'appe';
    
}
#main3{
    height: 160%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top:100px ;
    position: relative;
    font-family: 'appe';
    background-color: #00000a;
    align-items: center;
    
}
#main3 h6{
    font-size: 30px;
    color: #FF791B;
    font-family:'appe' ;     
}
#main3 h1{
    font-size: 60px;
    color: white !important;
    font-family:'appe' ;
     margin-top: 20px;
}
#main3_1{
    height: 50%;
    width: 70%;
    font-weight: 600;
    position: absolute;
    background-color: rgb(3, 3, 3);
    background-image: url('./phoneback.jpg');
    background-position:left ;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    margin-top: 300px;  
}   
#main3_2{
    height: 25%;
    width: 20%;
    font-weight: 600;
    position: absolute;
    background-color: #00000a;
    margin-top: 300px;
    margin-right: 50px;
    right:0;
    top:0;   
}
#main3_3{
     height: 25%;
    width: 20%;
    font-weight: 600;
    position: absolute;
    background-color:  #00000a;
    margin-bottom: 350px;
    margin-right: 50px;
    right:0;
    bottom:0;   
}
#main3_2 h3, #main3_3 h3{
    
    font-family: 'appe';
    padding-top: 20px; 
    padding-bottom: 5px;    ;
    font-size: 30px;
    text-align: left;
    margin: 0;
    color: #86868B;
    

}  
#main3_2 h1, #main3_3 h1{
    color: #FF791B !important;
    font-family: 'appe';
    font-size: 70px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0;
    padding: 0;
   
}